<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping Instructions</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/base.css">
</head>

<body>
  <!-- top navigation -->
  <!-- refer to base.html -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 border">
    <div class="container" id="id_nav_top">
      <!-- Left Nav -->
      <ul class="navbar-nav me-auto" id="id_nav_top_left">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="https://img.icons8.com/ios/50/home--v1.png" height="16" alt="Home">
            TartanTrade</a>
        </li>
      </ul>

      <!-- Right Nav -->
      <ul class="navbar-nav" id="id_nav_top_right">
        <li class="nav-item">
          <span class="nav-link" id="id_nav_top_right_login">Hi! <a href="#" class="text-danger">Login</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="id_nav_top_right_my_account" role="button"
            data-bs-toggle="dropdown">
            My Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" id="id_nav_top_right_my_profile">My Profile</a></li>
            <li><a class="dropdown-item" href="#" id="id_nav_top_right_orders">My Orders</a></li>
            <li><a class="dropdown-item" href="#" id="id_nav_top_right_posted">Posted Products</a></li>
            <li><a class="dropdown-item" href="#" id="id_nav_top_right_logout">Logout</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="siteNav" role="button" data-bs-toggle="dropdown">
              Navigator
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Auction System</a></li>
            </ul>
          </li> -->
        <li class="nav-item"><a class="nav-link" href="#" id="id_nav_top_right_help">Browse All</a></li>
        <li class="nav-item"><a class="nav-link" href="#" id="id_nav_top_right_help">Help</a></li>
      </ul>
    </div>
  </nav>

  <!-- about us -->
  <div class="container mt-5">
    <h1>Shopping Instructions</h1>
    <p>Shopping Process</p>
    <p>Payment Methods</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- Footer -->
  <!-- refer to base.html -->
  <footer class="footer">
    <div class="container">
      <!-- top slogan -->
      <div class="footer-top">
        <span class="text-danger">Wide Selection, Easy Shopping</span> |
        <span class="text-danger">Authentic Products, Premium Service</span> |
        <span class="text-danger">Everyday Low Prices, Hassle-Free Choices</span>
      </div>

      <!-- Logo -->
      <div class="footer-logo-container">
        <img src="./images/cmu_logo.png" alt="CMU Logo" class="footer-logo">
        <img src="./images/Logo.png" alt="Tartan Logo" class="footer-logo">
      </div>


      <!-- third links -->
      <div class="row text-center">
        <div class="col-md-4">
          <h6 class="fw-bold">Shopping Instructions</h6>
          <p><a href="#">Shopping Process</a> | <a href="#">Payment Methods</a></p>
        </div>
        <div class="col-md-4">
          <h6 class="fw-bold">Logistics</h6>
          <p><a href="#">In-Person Exchange</a> | <a href="#">Self-Pickup</a></p>
        </div>
        <div class="col-md-4">
          <h6 class="fw-bold">Help Center</h6>
          <p><a href="#">Common problems</a> | <a href="#">Account Privacy</a>
        </div>
      </div>

      <!-- copyright -->
      <div class="footer-bottom">
        <div class="footer-links">
          <a href="#">About Us</a> | <a href="#">Privacy Policy</a>
        </div>
        <p>Copyright &copy; 2025 CMU Copyright</p>
      </div>
    </div>
  </footer>

  <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>